<!doctype html>
<!--[if lt IE 7 ]><html itemscope itemtype="https://schema.org/" id="ie6" class="ie" lang="en-US"><![endif]-->
<!--[if IE 7 ]>   <html itemscope itemtype="https://schema.org/" id="ie7" class="ie" lang="en-US"><![endif]-->
<!--[if IE 8 ]>   <html itemscope itemtype="https://schema.org/" id="ie8" class="ie" lang="en-US"><![endif]-->
<!--[if IE 9 ]>   <html itemscope itemtype="https://schema.org/" id="ie9" class="ie" lang="en-US"><![endif]-->
<!--[if gt IE 9]><!-->
<html itemscope itemtype="https://schema.org/" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20955494-9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-20955494-9');
    </script>

    <meta charset="utf-8">

    <title>Yukizuri</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" sizes="57x57" href="./images/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="./images/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./images/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="./images/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="./images/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="./images/icons/manifest.json">
    <link rel="mask-icon" href="./images/icons/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <!-- SEARCH -->
    <meta name="author" content="a-know">
    <meta name="description" content="Yukizuri is a real-time chat service which conversation log is not left. Enjoy conversation just to suit the occasion!">

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@a_know">
    <meta name="twitter:title" content="Yukizuri">
    <meta name="twitter:description" content="Enjoy conversation just to suit the occasion">
    <meta name="twitter:url" content="https://yukizuri.moshimo.works/">
    <meta name="twitter:image" content="https://yukizuri.moshimo.works/images/yukizuri-logo.png">

    <!-- FACEBOOK -->
    <meta property="og:site_name" content="Yukizuri">
    <meta property="og:url" content="https://yukizuri.moshimo.works/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Yukizuri">
    <meta property="og:description" content="Enjoy conversation just to suit the occasion">
    <meta property="og:image" content="https://yukizuri.moshimo.works/images/yukizuri-logo.png">

    <!-- G+ -->
    <meta itemprop="name" content="Yukizuri">
    <meta itemprop="description" content="Enjoy conversation just to suit the occasion">
    <meta itemprop="image" content="https://yukizuri.moshimo.works/images/yukizuri-logo.png">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,600' rel='stylesheet' type='text/css'>

    <!--build:css /css/styles.min.css-->
    <link rel="stylesheet" href="./css/styles.css">
    <!--endbuild-->
</head>


<body class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="./images/yukizuri-logo.png" id="logoimage">
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">To join <span id="service-name">Yukizuri</span>, just decide nickname!</p>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Nickname" id="nickname" maxlength="16" onkeypress="enter();">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <button type="input" class="btn btn-primary btn-block" onClick="join();">Join!</button>
                </div><!-- /.col -->
            </div>
            <p id="join-alert"></p>
            <p class="login-box-msg"><span id="service-name">Yukizuri</span> is a real-time chat service which conversation log is not left. Enjoy conversation just to suit the occasion!</p>
        </div><!-- /.login-box-body -->
        <footer class="main-footer">
            <div class="pull-right">
                    <a href="https://wrapbootstrap.com/user/bharani"><strong>Authentic Pixels</strong></a>
            </div>
            <strong>&copy; 2017 <a href="https://twitter.com/a_know">a-know</a>.</strong>
        </footer>
    </div><!-- /.login-box -->

<!--build:js /js/login.min.js -->
<script src="./plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="./plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="./js/pages/login.js"></script>
<!-- endbuild -->

</body>

</html>
