<!doctype html>
<!--[if lt IE 7 ]><html itemscope itemtype="https://schema.org/" id="ie6" class="ie" lang="en-US"><![endif]-->
<!--[if IE 7 ]>   <html itemscope itemtype="https://schema.org/" id="ie7" class="ie" lang="en-US"><![endif]-->
<!--[if IE 8 ]>   <html itemscope itemtype="https://schema.org/" id="ie8" class="ie" lang="en-US"><![endif]-->
<!--[if IE 9 ]>   <html itemscope itemtype="https://schema.org/" id="ie9" class="ie" lang="en-US"><![endif]-->
<!--[if gt IE 9]><!-->
<html itemscope itemtype="https://schema.org/" lang="en-US">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Yukizuri</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" sizes="57x57" href="./images/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="./images/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./images/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="./images/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="./images/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="./images/icons/manifest.json">
    <link rel="mask-icon" href="./images/icons/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="./mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- SEARCH -->
    <meta name="author" content="">
    <meta name="description" content="">

    <!-- TWITTER -->
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image:src" content="">

    <!-- FACEBOOK -->
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="fb:app_id" content="">
    <meta property="fb:admins" content="">

    <!-- G+ -->
    <meta itemprop="name" content="">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./plugins/jvectormap/jquery-jvectormap-1.2.2.css">

    <!--build:css /css/styles.min.css id="main-stylesheet"-->
    <link rel="stylesheet" href="./plugins/aos/aos.css">
    <link rel="stylesheet" id="main-stylesheet" href="./css/styles.css">
    <!--endbuild-->

    <!--build:js /js/main.min.js -->
    <script src="./plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script>
    $(function(){
        var socket = null;
        var msgBox = $("#chatbox #message");
        var messages = $("#chat-box-messages");
        $("#chatbox").submit(function(){
            if (!msgBox.val()) return false;
            if (!socket) {
            alert("Error : Not established WebSocket connection.");
            return false;
            }
            socket.send(JSON.stringify({"Message": msgBox.val()}));
            msgBox.val("");
            return false;
        });
        if (!window["WebSocket"]) {
            alert("Error : This browser not supports WebSocket.");
        } else {
            socket = new WebSocket("ws://{{.Host}}/room");
            socket.onclose = function() {
            // alert("Connection closed.");
            }
            socket.onmessage = function(e) {
                var msg = JSON.parse(e.data)
                if (msg.Name == "{{.UserData.name}}") {
                    messages.prepend(
                        $("<div>").attr("class", "chat-box-msg right")
                        .append(
                            $("<div>").attr("class", "chat-box-info clearfix")
                            .append(
                                $("<span>").attr("class", "chat-box-name pull-right").text(msg.Name))
                            .append(
                                $("<span>").attr("class", "chat-box-timestamp pull-left").text((new Date(msg.When)))
                            )
                        )
                        .append(
                            $("<img>").attr("class", "chat-box-img").attr("src", get_identicon(msg.Name))
                        )
                        .append(
                            $("<div>").attr("class", "chat-box-text").text(msg.Message)
                        )
                    );
                } else {
                    var icon = ""
                    if (msg.Name == "Yukizuri-sys") {
                        icon = "./images/yukizuri-sys.png"
                    } else {
                        icon = get_identicon(msg.Name)
                    }
                    messages.prepend(
                        $("<div>").attr("class", "chat-box-msg left")
                        .append(
                            $("<div>").attr("class", "chat-box-info clearfix")
                            .append(
                                $("<span>").attr("class", "chat-box-name pull-left").text(msg.Name))
                            .append(
                                $("<span>").attr("class", "chat-box-timestamp pull-right").text((new Date(msg.When)))
                            )
                        )
                        .append(
                            $("<img>").attr("class", "chat-box-img").attr("src", icon)
                        )
                        .append(
                            $("<div>").attr("class", "chat-box-text").text(msg.Message)
                        )
                    );
                }
            }
        }
    });

    function get_identicon(text) {
        var salt = 0;
        var rounds = 1;
        var size = 210;
        var outputType = "HEX";
        var hashtype = "SHA-512";
        var shaObj = new jsSHA(text+salt, "TEXT");
        var hash = shaObj.getHash(hashtype, outputType,rounds);
        var data = new Identicon(hash, size).toString();
        return 'data:image/png;base64,' + data;
    }
    </script>
    <script src="./plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="./plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="./plugins/aos/aos.js"></script>
    <script src="./plugins/pnglib/pnglib.js"></script>
    <script src="./plugins/identicons/identicons.js"></script>
    <script src="./plugins/sha/sha.js"></script>
    <script src="./plugins/pjax/jquery.pjax.min.js"></script>
    <script src="./js/main.js"></script>
    <!-- endbuild -->
</head>

<body class="skin-deep-blue">
    <div class="wrapper">
        <div class="page-loader">
            <div class="preloader-lg"></div>
        </div>
        <div class="content-wrapper-transition">
            <div class="content-wrapper-inner">
                <div class="content-wrapper dashboard-page">
                    <header class="main-header">
                        <a href="./index.html" class="logo">
                            <span class="logo-lg"><img src="./images/yukizuri-logo.png" id="logoimage"></span>
                        </a>
                        <nav class="navbar navbar-static-top">
                            <div class="navbar-custom-menu">
                                <ul class="nav navbar-nav">
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="./images/default.png" onload="this.onload=null; this.src=get_identicon('{{.UserData.name}}');" class="user-image" alt="User Image">
                                        <span class="hidden-xs">{{.UserData.name}}</span>
                                    </a>
                                </li>
                                </ul>
                            </div>
                        </nav>
                    </header>

                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <!-- DIRECT CHAT -->
                                    <div class="box box-primary box-solid box-default chat-box chat-box-info" data-aos="fade-up">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Messages</h3>
                                            <div class="box-tools pull-right">
                                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                            </div>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <!-- Conversations are loaded here -->
                                            <div class="chat-box-messages" id="chat-box-messages"></div>
                                        </div><!-- /.box-body -->

                                        <div class="box-footer box-primary box-solid">
                                            <form id="chatbox" role="form">
                                                <div class="input-group">
                                                    <input id="message" type="text" name="message" placeholder="Type Message ..." class="form-control focus-info">
                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-info btn-flat">Send</button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div><!-- /.box-footer-->
                                    </div><!--/.chat-box -->
                                </div><!-- /.col -->

                                <div class="col-md-3">
                                    <!-- USERS LIST -->
                                    <div class="box box-primary box-solid" data-aos="fade-up">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">
                                            Team Members
                                            </h3>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <ul class="users-list clearfix">
                                                <li>
                                                    <img src="./images/default.png" onload="this.onload=null; this.src=get_identicon('24');" alt="User Image">
                                                    <a class="users-list-name" href="#">Susan</a>
                                                    <span class="users-list-date">Today</span>
                                                </li>
                                                <li>
                                                    <img src="./images/default.png" onload="this.onload=null; this.src=get_identicon('35');" alt="User Image">
                                                    <a class="users-list-name" href="#">Norman</a>
                                                    <span class="users-list-date">Yesterday</span>
                                                </li>
                                                <li>
                                                    <img src="./images/default.png" onload="this.onload=null; this.src=get_identicon('14');" alt="User Image">
                                                    <a class="users-list-name" href="#">Jane</a>
                                                    <span class="users-list-date">12 Jan</span>
                                                </li>
                                                <li>
                                                    <img src="./images/default.png" onload="this.onload=null; this.src=get_identicon('18');" alt="User Image">
                                                    <a class="users-list-name" href="#">John</a>
                                                    <span class="users-list-date">12 Jan</span>
                                                </li>
                                                <li>
                                                    <img src="./images/default.png" onload="this.onload=null; this.src=get_identicon('37');" alt="User Image">
                                                    <a class="users-list-name" href="#">Alexander</a>
                                                    <span class="users-list-date">13 Jan</span>
                                                </li>
                                            </ul><!-- /.users-list -->
                                        </div><!-- /.box-body -->
                                    </div><!--/.box -->
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    <footer class="main-footer">
                        <div class="pull-right hidden-xs">
                            This bootstrap theme is <a href="http://authenticpixels.com"><strong>Authentic Pixels</strong></a>
                        </div>
                        <strong>Copyright &copy; 2017 a-know. All rights reserved.
                    </footer>
                </div><!-- /.content-wrapper -->
            </div>
        </div>
    </div>
</body>

</html>
